* {
    box-sizing: border-box;
}

.app {
    display: flex;
    gap: 20px;
    // background-color: #0C2340;
    min-height: 100vh;

    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    box-sizing: border-box;
}
